



 .verso{
  /* position: absolute; */
  opacity:1;
  width:340px;
  height:240px;
  position:absolute
 }
.verso:hover{
  opacity:1
}


  .transparent:hover{
opacity: 0;
  }


  .class_test {
  text-align: center;
  display: inline-block;
  position: relative;
}
 .class_test:hover p.text {
      opacity: 1;
  }
.class_test p.text {
  color: #FFF;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  top: 0;
  opacity: 0;
  display: block;
  position: absolute;
  /* -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out; */
}




.containerQuatriem {
  display: flex;
  flex-direction: column;
  width:100%;
  height:620px;
  justify-content: space-between;
  padding-left: 0;
}

.tailleImageTemplate{
  width:auto;
  height:620px
}


.sticky{
 /* z-index: 1;  */
  position:fixed;
  width: 100%;
}

.conteneur-flexible{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}
.ligne{
  flex-direction: row;
}





.centrageCatalogue{
  justify-content:start
}

body {
  overflow: hidden;
}


button {
  border: none;
  background-color: transperant;
  outline: none;
}


/* .carousel-control {
  height:50%;
  top:50%;
} */

.carousel-control-next {
  filter: invert(100%);
 

}
.carousel-control-prev {
  filter: invert(100%);
}
.carousel-control-prev-icon {
  width: 32px;
  height: 32px;
  opacity:0
}
.carousel-control-next-icon {
  width: 32px;
  height: 32px;
  opacity:10
}

/* taille de la police */
.quatorze {
  font-size: 19px;
}

.dix {
  font-size: 15px;
}

.douze {
  font-size: 16px;
}

/* interlignage */
.interligne {
  line-height: 1.2em;
}

br {
  line-height: 0.9em;
}

/* .livretemplate {
  width: auto;
  max-height: 540;
} */

.smooth {
  scroll-behavior: smooth;
}

.index {
  z-index: 1;
  position: relative;
}

/* taille livre */

.tailleLivreRcementParu {
  width: 60%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tailleLivreAparaitre {
  max-width: 80%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tailleLivrePardeffault {
  max-width: 250px;
  height: auto;
}



.tailleLivreTemplate {
  max-width: 70%;
  height: auto;
}
.borderSlide {
  border-right: 1px solid black;
}
.buttonContact {
  border: none;
  background-color: white;
  outline: none;
}
.bgwhite {
  background-color: white;
}

.cent {
  max-width: 100%;
}

.container-presentation {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.aligner-bas {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.contenant {
  position: relative;
  /* text-align: center; */
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.under {
  text-decoration: underline;
}

.colonne {
  height: 92vh;
  scrollbar-width: none;
}

.carre {
  height: 80vh;
  width:auto;
  overflow: auto;
  scrollbar-width: none;
}

.overscroll-behavior {
  overscroll-behavior: contain;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.scroll {
  overflow: hidden;
}
/* .indent {
  text-indent: 3em;
} */

.decoration-non {
  text-decoration: none;
}

.catalogue {
  height: 85vh;
  overflow:auto;
  /* overscroll-behavior: contain; */
  scrollbar-width: thin;
}

/* Livres */

.carteLivre {
  box-shadow: 8px 8px 4px #aaa;
}

.carteLivre:hover {
  /* box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.24),
    0 40px 50px 0 rgba(0, 0, 0, 0.19); */
}

.noHover {
  pointer-events: none;
}

.formulaire {
  background-color: #f6f6f6;
  border-radius: 10px;
}

/* logo du site */

.logoDivergences {
  font-family: "Druk";
  /* font-size: xx-large; */
  font-size: 24px;
}

.logoDivergences2 {
  font-family: "UniversLTStd-Ex";
  font-size: 19px;
}

/* Bouttons  */

/* .bouton9 {
  border: none;
  padding: 6px 0 6px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #aaa;
  background: #fff;
  font: bold 13px Arial;
  color: #555;
} */

/* .bouton9:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */

.panier {
  border: none;
  background: #fff;
}

/* Navbar */

.navHover:hover {
  color: grey;
  /* font-weight: bold; */
}

/* .shadowBar {
  -webkit-box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
} */

/* Formulaire */

.bordureForm {
  border: none;
  border-bottom: 1px solid;
  border-color: grey;
  font-family: "Concorde-Regular";
  margin-bottom: 15px;
}

/* Polices du site */
h1,
h2,
h3,
h4,
h5 {
  font-family: "UniversLTStd-Ex";
}
.navFont {
  font-family: "UniversLTStd-Ex";
}
.textFont {
  font-family: "Concorde-Regular";
}

/* container agenda/parution/a paraitre  */


/* .agenda-container-parent {
  height: 510px;
  width: 100%;
  overflow: hidden;
  position: relative;
} */

.agenda-container-enfant {
  position: absolute;
  /* top: 0;
bottom: 0;
left: 0;
right: 0; */
  overflow: auto;
  scrollbar-width: thin;
}

/* .parution-container-parent {
  height: 980px;
  width: 100%;
  overflow: hidden;
  position: relative;
} */

.parution-container-enfant {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  overflow-y: auto;
  overflow-x:hidden;
  scrollbar-width: thin;
}

.borderGeneral-top-speciale {
  border-top: 2px solid black;
}

.borderGeneral-top {
  border-top: 2px solid black;
}

.borderGeneral-bottom {
  border-bottom: 2px solid black;
}

.borderGeneral-right {
  border-right: 2px solid black;
}

.borderGeneral-left {
  border-left: 2px solid black;
}

/* .parution-container-parent2 {
  height: 321px;
  width: 100%;
  overflow: hidden;
  position: relative;
} */

/* .parution-container-enfant2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  overflow: auto;
  scrollbar-width: none;
} */

/* .catalogue-container-parent {
  height: 610px;
  width: 100%;
  overflow: hidden;
  position: relative;
} */

/* .catalogue-container-enfant {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  overflow: auto;
  scrollbar-width: none;
} */



@media (max-width: 1600px) {
.containerQuatriem {
  display: flex;
  flex-direction: column;
  width:100%;
  height:500px;
  justify-content: space-between;
  padding-left: 0;
}

.tailleImageTemplate{
  width:auto;
  height:500px
}
}





@media (max-width: 1199.98px) {
  .logoDivergences {
    font-family: "Druk";
    font-size: 24px;
   
  }

  .logoDivergences2 {
    font-family: "UniversLTStd-Ex";
    font-size: 19px;
  }

  .tailleImageTemplate{
    width:auto;
    height:370px
  }

  .containerQuatriem {
    display: flex;
    flex-direction: column;
    width:100%;
    height:370px;
    justify-content: space-between;
  }


}


@media (max-width: 991.98px) {
  .tailleImageTemplate{
    width:auto;
    height:370px
  }

  .containerQuatriem {
    display: flex;
    flex-direction: column;
    width:100%;
    height:370px;
    justify-content: space-between;
  }

 }


 @media (max-width: 767.98px) { 
  .tailleImageTemplate{
    width:auto;
    height:250px
  }

  .containerQuatriem {
    display: flex;
    flex-direction: column;
    width:100%;
    height:250px;
    justify-content: space-between;
  }

  }


@media (max-width: 576px) {

  .navTopSticky{
  -webkit-sticky:sticky;
  position:sticky
    }

  .margeEvenement{
    margin-left:23px
  }
  .tailleImageTemplate{
    width:auto;
    height:350px
  }

  body {
    overflow: scroll;
  }

  .tailleLivreRcementParu {
    width: 150px;
    height: 265px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .tailleLivreAparaitre {
    width: 150px;
    height: 265px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .tailleLivrePardeffault {
    width: 250px;
    height: auto;
  }

  .livreCentre {
    display: flex;
    justify-content: center;
  }

  .logoDivergences {
    font-family: "Druk";
    font-size: 16px;
  }

  .carre {
    height: 100vh;
    width:auto;
    overflow: auto;
    scrollbar-width:none;
  }

  .testScrollBar {
    margin-right: -14px !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .catalogue {
    height: 100vh;
    overflow: scroll;
    overscroll-behavior: contain;
    scrollbar-width: thin;
  }

  .borderGeneral-right {
    border-right: none;
  }

  .textmap {
    margin-top: 10px;
  }

  .no-scroll {
    overflow: scroll;
    height: 100%;
  }

  .borderGeneral-top-speciale {
    border-top: none;
  }


  .catalogue {
    height: 100vh;
    overflow: scroll;
    overscroll-behavior: none;
    scrollbar-width: thin;
  }

  .newsMagin {
    margin-top: 20px;
  }

  .borderGeneral-bottom {
    border-bottom: 1px solid black;
  }
  
  .borderGeneral-top {
    border-top: 1px solid black;
  }

.centrageCatalogue{
  justify-content:center}

/* 

.ecritureVericale {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
} */

}










